.cursor {
  --radius: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: var(--radius);
  height: var(--radius);
  transform: translate(-50%, -50%) scale(2);
  border-radius: 50%;
  pointer-events: none;
  transition: 0.3s;
  transition-property: width, height, transform;
  background-color: black;
}
/* 
.blend {
} */
