.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.content {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s;
}

.img {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 140%;
  object-fit: cover;
}

.heading,
.one,
.two,
.three,
.four,
.five {
  position: absolute;
}

.one {
  width: 464px;
  height: 228px;
  top: 8%;
  left: 0;
}
.two {
  width: 412px;
  height: 181px;
  top: 0;
  right: 20%;
}
.three {
  width: 214px;
  height: 248px;
  top: 30%;
  right: 0;
}
.four {
  width: 419px;
  height: 222px;
  bottom: 0;
  right: 25%;
}
.five {
  width: 300px;
  height: 331px;
  bottom: 0;
  left: 10%;
}

.heading {
  top: 50%;
  transform: translateY(-50%);
  right: 35%;
}

.heading h1 {
  font-family: var(--font);
  font-size: 4rem;
  color: #818181;
}

@media only screen and (max-width: 1340px) {
  .one {
    width: calc(464px - 100px);
    height: calc(228px - 40px);
  }
  .two {
    width: calc(412px - 60px);
    height: calc(181px - 20px);
  }
  .three {
    width: calc(214px - 20px);
    height: calc(248px - 20px);
  }
  .four {
    width: calc(419px - 80px);
    height: calc(222px - 40px);
  }
  .five {
    width: calc(300px - 40px);
    height: calc(331px - 40px);
    left: 5%;
  }
  .heading h1 {
    font-size: 3.5rem;
  }
}
/* 
@media only screen and (max-width: 1340px) {
  .one {
    width: calc(464px - 40px);
    height: calc(228px - 40px);
  }
  .two {
    width: calc(412px - 40px);
    height: calc(181px - 40px);
  }
  .three {
    width: calc(214px - 40px);
    height: calc(248px - 40px);
  }
  .four {
    width: calc(419px - 40px);
    height: calc(222px - 40px);
  }
  .five {
    width: calc(300px - 40px);
    height: calc(331px - 40px);
  }
} */
