.container {
  height: 100vh;
  min-height: 700px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 4.5rem;
}

.content {
  /* background-color: #fbfbfb; */
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 560px;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.left h3 {
  color: gray;
  font-size: 2.3rem;
  font-weight: 400;
}

.links {
  padding-left: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.links li {
  font-family: var(--font);
  font-size: 3.3rem;
  font-weight: 300;
}

.right {
  width: 630px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.leftImage,
.rightImage {
  position: absolute;
  overflow: hidden;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease-out;
}
.leftImage {
  transform: translateX(-140px);
}
.rightImage {
  transform: translate(140px, -80px);
}

.leftImage img,
.rightImage img {
  width: 250px;
  height: 450px;
  object-fit: cover;
}

/* .leftImage:hover,
.rightImage:hover {
  width: 200px;
} */

@keyframes imageAnim {
  0% {
    transform: translate(-);
  }
}
